---
// Navbar.astro
---

<header class="py-4 px-6 md:px-12 flex items-center justify-between bg-white">
    <div class="flex items-center">
        <div class="mr-2">
            <img src="/logo.ico" alt="Logo" class="w-14 " />
        </div>
        <h1 class="text-2xl font-bold text-gray-800">NyC</h1>
    </div>

    <nav class="hidden md:flex items-center space-x-8">
        <a href="/" class="text-gray-700 hover:text-gray-900">Inicio</a>
        <a href="/proyectos" class="text-gray-700 hover:text-gray-900">Proyectos</a>
        <a href="nosotros" class="text-gray-700 hover:text-gray-900">Nosotros</a>
        <a href="/servicios" class="text-gray-700 hover:text-gray-900">Servicios</a>
        <a href="tienda" class="text-gray-700 hover:text-gray-900">Tienda</a>
        <a href="/contacto" class="bg-yellow-400 hover:bg-yellow-500 text-gray-900 px-5 py-2 rounded-md transition-colors">
            Contactanos →
        </a>
    </nav>

    <button class="md:hidden text-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
    </button>
</header>